NEXT_PUBLIC_SUPABASE_URL=https://frzrbnuicampflfbsdhc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyenJibnVpY2FtcGZsZmJzZGhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4ODc4ODcsImV4cCI6MjA4NzQ2Mzg4N30.ZLgDMiu2jBNq_j4ah60cS87dNIBOTVneafRu4AV8y14
